.tru_main{
    font-family: Manrope, Arial, sans-serif;
    padding: .5rem;
}

/* .tru_main_container {
    font-family: Manrope, Arial, sans-serif;
    padding: 2rem;
    overflow-x: hidden;
} */
.tru_app_menu_container{
   display: flex;
   padding: .5rem 0rem .5rem 3rem;
   color: black;
}
.tru_app_menu_container div{
    padding-left: 1rem;
}
/* .tru_welcome {
    padding: 1rem;
    font-size: 1rem;
}

.tru_logo_container {
    width: 50%;
}

.tru_settings_btn {
    font-family: Manrope, Arial, sans-serif;
    display: block;
    border-radius: 50px;
    border: solid 0px;
    background-color: black;
    color: white;
    padding: .5rem 1.5rem;
    transition: all .5s;
    margin-bottom: 2rem;
} */

/* .tru_settings_btn:hover {
    background-color: #4bb3c3;
    box-shadow: 0 15px 50px -10px #4bb3c3;
    cursor: pointer;
} */

.tru_app_container {
    font-family: Manrope, Arial, sans-serif;
    padding: 0 0rem 0 3rem;
}

.tru_app_title {
    font-size: 2.5rem;
    padding: 1rem 0;
    font-weight: 600;
    line-height: 40px;

}

.tru_app_refferer {
    padding: 1rem .5rem;
    font-size: 1rem;
}

.tru_app_subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 23px;
}

.tru_app_btn_container {
    display: flex;
    align-items: stretch;
}

.tru_app_logo {
    width: 20%;
    position: absolute;
    right: 20px;
}


.tru_app_integrate_btn,
.tru_app_dashboard_btn {
    font-size: 1rem;
    margin-top:.3rem;
    display: block;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
    padding: .3rem 1.1rem;
    transition: all .5s;
    margin-left: 1rem;
}
.tru_app_account_qu{
    margin-top: 4rem;
}
.tru_app_dashboard_btn {
    background-color: transparent;
    color: black;
    border: 1px solid;
}

.tru_app_text_container {
    display: flex;
}

.tru_app_bottom_img img {
    width: 400px;
    position: absolute;
    margin-top: 2rem;
    right: 0;
}

.tru_app_integrate_btn:hover,
.tru_app_dashboard_btn:hover {
    background-color: #4bb3c3;
    box-shadow: 0 15px 50px -10px #4bb3c3;
    cursor: pointer;
    transform: translateY(-15%);
}

.tru_app_dashboard_btn:hover {
    border: solid 1px #4bb3c3;
    color: white;
}

.tru_app_paragraph {
    padding: 1rem .5rem;
    color: #696969;
}

@media screen and (max-width: 1180px) {
    .tru_app_text_container {
      flex-direction: column;
    }
    .tru_app_bottom_img img{
        position: relative;
        display: block;
    }
  }